name: clisops
channels:
 - conda-forge
 - defaults
dependencies:
 - pip
 - bottleneck>=1.3.1,<1.4
 - cf_xarray>=0.5.1
 - cftime>=1.4.1
 - dask>=2.6.0
 - geopandas>=0.7
 - loguru>=0.5.3
 - netCDF4>=1.4
 - numpy>=1.16
 - pandas>=1.0.3,<1.4
 - poppler>=0.67
 - pygeos>=0.9
 - pyproj>=2.5
 - requests>=2.0
 - roocs-utils>=0.5.0
 - shapely>=1.6
 - xarray>=0.15
 - xesmf>=0.6.2
 - pip:
     - pytest-loguru
#     - roocs-utils @ git+https://github.com/roocs/roocs-utils.git@master#egg=roocs-utils
