name: clisops
channels:
 - conda-forge
dependencies:
 - python >=3.8,<3.12
 - pip
 - flit
 - bottleneck >=1.3.1
 - cf_xarray >=0.7.0
 - cftime >=1.4.1
 - dask >=2.6.0
 - gdal >=3.0
 - geopandas >=0.11
 - loguru >=0.5.3
 - netCDF4 >=1.4
 - numba  # needed for xesmf v0.6.3, see: https://github.com/conda-forge/xesmf-feedstock/pull/24
 - numpy >=1.16
 - packaging
 - pandas >=1.0.3
 - pooch
 - poppler >=0.67
 - pyproj >=3.3.0
 - requests>=2.0
 - roocs-utils>=0.6.4,<0.7
 - shapely >=1.9
 - sparse >=0.8.0  # needed for xesmf v0.6.3, see: https://github.com/conda-forge/xesmf-feedstock/pull/24
 - xarray >=0.21
 - xesmf >=0.6.3
 # Documentation
 - ipykernel
 - ipython
 - ipython_genutils
 - jupyter_client
 - matplotlib
 - nbsphinx
 - pandoc
 - sphinx
 - sphinx-rtd-theme
