name: clisops
channels:
 - conda-forge
dependencies:
 - python >=3.8,<3.12
 - flit
 - bottleneck >=1.3.1
 - cf_xarray >=0.8.6
 - cftime >=1.4.1
 - dask >=2.6.0
 - gdal >=3.0
 - geopandas >=0.11
 - loguru >=0.5.3
 - netCDF4 >=1.4
 - numpy >=1.16
 - packaging
 - pandas >=1.0.3
 - pooch
 - poppler >=0.67
 - pyproj >=3.3.0
 - requests >=2.0
 - roocs-grids >=0.1.2
 - roocs-utils >=0.6.4,<0.7
 - shapely >=1.9
 - xarray >=0.21,<2023.03.0 # See: https://github.com/pydata/xarray/issues/7794
 - xesmf >=0.8.2
  # Dev tools and testing
 - black >=23.10.1
 - bump-my-version
 - flake8
 - gitpython >=3.1.30
 - ipython
 - isort
 - jinja2 >=2.11
 - pre-commit >=3.0.0
 - pytest
 - pytest-cov
 - pytest-loguru >=0.2.0
 - tox >=4.0
 - watchdog
 # Documentation
 - ipykernel
 - ipython
 - ipython_genutils
 - jupyter_client
 - matplotlib >=3.5.2
 - nbsphinx
 - pandoc
 - sphinx
 - sphinx-rtd-theme >=1.0
 - pip:
   - roocs-utils @ git+https://github.com/sol1105/roocs-utils.git@atlas-get-project#egg=roocs-utils
