name: clisops
channels:
 - conda-forge
 - defaults
dependencies:
 - pip
 - numpy>=1.16
 - xarray>=0.15
 - pandas>=1.0.3
 - cftime>=1.0.4
 - netCDF4>=1.4
 - poppler>=0.67
 - fiona>=1.8
 - geojson>=2.5.0
 - shapely>=1.6
 - geopandas>=0.7
 - rtree>=0.9
 - dask>=2.6.0
 - bottleneck>=1.3.1,<1.4
 - pyproj>=2.5
 - python-dateutil>=2.8.1
 - cfunits>=3.2.7
 - udunits2>=2.2
 - pip:
    - -e git+https://github.com/roocs/roocs-utils.git@master#egg=roocs_utils
