pip
bumpversion
wheel
watchdog
flake8
tox~=3.0
pytest-cov
Sphinx
sphinx-rtd-theme>=1.0
twine
pytest
pytest-loguru>=0.2.0
pytest-runner
pre-commit>=2.9.0
black>=22.12
nbsphinx
nbconvert
ipython
jinja2>=2.11
GitPython==3.1.12
