pip
bumpversion
wheel
watchdog
flake8
tox
pytest-cov
Sphinx
sphinx-rtd-theme
twine
pytest
pytest-loguru
pytest-runner
pre-commit>=2.9.0
black>=21.12b0
nbsphinx
nbconvert
ipython
jinja2>=2.11
GitPython==3.1.12
