numpy>=1.16
xarray>=0.15
pandas>=1.0.3
cftime>=1.0.4
netCDF4>=1.4
fiona>=1.8
geojson>=2.5.0
shapely>=1.6
geopandas>=0.7
dask[complete]>=2.6
pyproj>=2.5
bottleneck~=1.3.1
python-dateutil>=2.8.1
roocs-utils>=0.1.5
