GitPython==3.1.12
Sphinx
black>=21.12b0
bumpversion
flake8
ipython
jinja2>=2.11
nbconvert
nbsphinx
pip
pre-commit>=2.9.0
pytest
pytest-cov
pytest-loguru
pytest-runner
sphinx-rtd-theme
tox
twine
watchdog
wheel
